<div class="todo-container">
  <%= form_for @todo, :html => { :class => 'form-inline' } do |f| %>
    <div class="new-todo">
      <%= f.text_field :name,
        placeholder: "New Todo",
        class: 'form-control todo-field' %>
      <%= f.submit 'Add', class: 'btn btn-info col' %>
    </div>
  <% end %>
</div>
