<div class="todo">
  <% form_id = "to_#{todo.id}" %>
  <%= form_for todo, :html => { :id => form_id } do |f| %>
  <% @stuff = "stuff" %>
    <%= f.check_box :completed, :onclick => "$('##{form_id}').submit()" %>
    <%= todo.todo %>
  <% end %>
</div>
