footer {
  color: #31b0d5;
  background-color: #111;
  padding: 15px;

  position: relative;
  margin-top: -55px;
  clear: both;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  a {
    text-decoration: none;
  }

  a:visited, a:link {
    color: #31b0d5;
  }

  a:hover {
    color: white;
  }
}

.icon-link {
  margin-left: 9px;
}
