// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
  overflow: auto;
  // min-height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-container {
  max-width: 600px;
  width: 100%;
}

.todos-container {
  border: solid 1px black;
  border-radius: 5px;
  margin-top: 10px;
  min-height: 80%;
  padding: 10px;
}

.todo-container {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-field {
  flex-grow: 1;
}
