<div class="footer">
  <div class="footer-container">
    <span><a href="http://markdemay.com">Mark De May</a></span>
    <a href="https://www.linkedin.com/in/markdemay/">
      <span class="fa fa-linkedin icon-link"></span>
    </a>
    <a href="https://github.com/mark1ad">
      <span class="fa fa-github-square icon-link"></span>
    </a>
  </div>
</div>
